/* Master Styles */
h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}

/* fix fixed-bar */
body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 40px; }
}

/* fix fixed-bar jumping to in-page anchor issue */
*[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

main{margin-top: 100px;}

.navbar-inverse {
    background-color: #080808;
    border-color: #FFCC00;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    border-radius: 0px 0px 10px 10px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #252323;
    border: 1px #FFCC00;
}

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: #FFCC00;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8D8D8D;
    border-color: #FFCC00;
}


.ng-valid[required] {
       border-left: 5px solid #42A948; /* green */
   }

form{
    margin-top: 10px;
}

md-input-container.ng-invalid .md-input-wrapper{
    border-left: 5px solid #a94442;
}

.missing{
    color: red;
}

.different{
    color: orange;
}

.loader{
    height:20px;
}
.success {
    color: green;
}
.warning {
    color: rgb(239, 77, 72);
}
.active{
    background-color: #caf7ca;
}
.pointer{
    cursor: pointer;
}
.activeOrder{
    display:block;
    cursor: pointer;
}
.activeOrder :hover{
    background-color: #8D8D8D;
}

.ownOrder{
    background-color: #caf7ca;;
}

h1> i{
    color: #FFCC00;
}

/*material and bootstrap clash*/
input[type="radio"], input[type="checkbox"]{
    display:none;
}

