/*!* Master Styles *!*/
/*h1 {*/
  /*color: #369;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*font-size: 250%;*/
/*}*/
/*h2, h3 {*/
  /*color: #444;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*font-weight: lighter;*/
/*}*/
/*body {*/
  /*margin: 2em;*/
/*}*/

/*!* fix fixed-bar *!*/
/*body { padding-top: 40px; }*/
/*@media screen and (max-width: 768px) {*/
  /*body { padding-top: 40px; }*/
/*}*/

/*!* fix fixed-bar jumping to in-page anchor issue *!*/
/**[id]:before {*/
  /*display: block;*/
  /*content: " ";*/
  /*margin-top: -75px;*/
  /*height: 75px;*/
  /*visibility: hidden;*/
/*}*/

/*main{margin-top: 100px;}*/

/*.navbar-inverse {*/
  /*background-color: #080808;*/
  /*border-color: #FFC20E;*/
/*}*/